.root {
  padding: 1rem;
}

.list {
  display: flex;
}

.listItem {
  width: 16%;
  padding: 0.4rem;
  margin: 0.2rem 0;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.listItem h1 {
  font-size: 1rem;
}

.listItem:hover {
  background-color: #273f6b;
}